<!-- genes.hbs-->
<div>
    <h2>Mitochondrial genes used in chimeraplastic therapeutics:</h2>
</div>

<table id="gene-table">
    {{!-- Table header section --}}
    <thead>
        <tr>
            <th>HGNC ID</th>
            <th>HGNC MitoGene Symbol</th>
            <th>HGNC MitoGene Name</th>
            <th>NCBI ID</th>
            <th>UniProt ID</th>
        </tr>
    </thead>

    {{!-- Table body section --}}
    <tbody>

        {{!-- For each row, print the ResearcherID, FirstName, LastName, and Credential, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.HgncID}}</td>
            <td>{{this.HgncSymbol}}</td>
            <td>{{this.HgncName}}</td>
            <td>{{this.NCBIGeneID}}</td>
            <td>{{this.UniProtID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div>
    <h3>Add New MitoGene</h3>
    <form id="add_new_gene">
        <fieldset>
            <section>
                <label for="hgnc_id">HGNC ID:</label>
                <input type="number" id="hgnc_id" name="hgnc_id"
                    min="100" max="10000" required >
            </section>
            <section>
                <label for="hgnc_symbol">HGNC MitoGene Symbol:</label>
                <input type="text" id="hgnc_symbol" name="hgnc_symbol"
                    minlength="1" maxlength="10" size="10" >
            </section>
            <section>
                <label for="hgnc_name">HGNC MitoGene Name:</label>
                <input type="text" id="hgnc_name" name="hgnc_name"
                    minlength="1" maxlength="300" >
                </textarea>
            </section>
            <section>
                <label for="ncbi_id">NCBI ID:</label>
                <input type="number" id="ncbi_id" name="ncbi_id"
                    min="100" max="10000" required>
            </section>
            <section>
                <label for="uniprot_id">UniProt ID:</label>
                <input type="text" id="uniprot_id" name="uniprot_id"
                    minlength="1" maxlength="10" size="10" >
            </section>
        </fieldset>
        <div>
            <input type="submit" value="Add MitoGene">
        </div>
    </form>
</div>
<div>
    <h4>Resources:</h4>
        <a href="https://www.genenames.org/data/genegroup/#!/group/1972" target="_blank">HGNC Home</a>
        <a href="https://www.ncbi.nlm.nih.gov/gene" target="_blank">NCBI Gene</a>
        <a href="https://www.uniprot.org/" target="_blank">UniProt Home</a>
</div>

<script src="./js/add_mitogene.js"></script>