<!-- labnotebooks.hbs -->
<div>
    <h2>MyT Codon Project Lab Notebooks:</h2>
</div>
<div>
    <input type="text" id="tableFilter" onkeyup="myFunction()" placeholder="Search Special Projects">
</div>

<div>
    <table id="labnotebook-table">
        {{!-- Table header section --}}
        <thead>
            <tr>
                <th>Special Project Name</th>
                <th>Creation Date</th>
                <th>Transfection Complete</th>
                <th>Completion Date</th>
                <th>Storage Freezer</th>
                <th>Freezer Box Location</th>
                <th>Update</th>
            </tr>
        </thead>

        {{!-- Table body section --}}
        <tbody>
            {{#each data}}
            <tr data-value="{{this.LabNotebookID}}">
                <td>{{this.SpecialProjectName}}</td>
                <td>{{this.CreationDate}}</td>
                <td>{{this.TransfectionComplete}}</td>
                <td>{{this.CompletionDate}}</td>
                <td>{{this.StorageFreezer}}</td>
                <td>{{this.FreezerBoxLoc}}</td>
                <td><a href="./labnotebook_update"><i class="fa-solid fa-pen-to-square" ></i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div>
    <h3>Add New Lab Notebook</h3>
    <form id="add_new_labnotebook">
      <fieldset>
          <legend>Special Project Name:</legend>
        <div>
            <label for="specialProjectName">Special Project Name:</label>
            <input type="text" id="specialProjectName" name="specialProjectName"
                minlength="2" maxlength="50" size="10" required> 
        </div>
      </fieldset>
      <fieldset>
          <legend>Project Completeion Status:</legend>
          <label for="transfectionComplete">Is transfection complete?</label>
            <select name="transfectionComplete" id="transfectionComplete">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
      </fieldset>
      <fieldset>
        <legend>Storage Information</legend>
        <label for="storageFreezer">Storage Freezer:</label>
            <select name="storageFreezer" id="storageFreezer">
                <option value="">--Please choose an option--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        <label for="fBLocPre">Freezer Box Location:</label>
        <input type="text" id="fBLocPre" name="fBLocPre" size="3" placeholder="FB1">
        <label for="fBLocSuf">-</label>
        <input type="text" id="fBLocSuf" name="fBLocSuf" size="3" placeholder="A1">
      </fieldset>
        <div>
            <input type="submit" value="Add LabNotebook">
        </div>
    </form>

    <script src="./js/add_labnotebook.js"></script>
</div>
<div>
    <h3>Project Staff</h3>
    <table id="projectStaff-table">
        {{!-- Table header section --}}
        <thead>
            <tr>
                <th>Special Project Name</th>
                <th>Researcher</th>
                <th>Remove from project</th>
            </tr>
        </thead>

        {{!-- Table body section --}}
        <tbody>
            {{#each data}}
            <tr data-value="{{this.ProjectStaffID}}">
                <td>{{this.SpecialProjectName}}</td>
                <td>{{this.FullName}}</td>
                <td><button onclick='removeResearcher({{this.ProjectStaffID}})'>
                        <i class='fa-solid fa-trash'></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/add_project_staff.js"></script>
</div>