<!-- labnotebooks.hbs -->
<div>
    <h2>MyT Codon Lab Notebooks / Project Staff</h2>
</div>
<div>
    <form id="table_filter" method="GET" action="/labnotebooks">
        <label for="filterProjects">Filter by Projects:</label>
            <select name="filterProjects" id="filterProjects">
                <option value=""></option>
                {{#each fetch.genes}}
                    <option value="{{this.HgncSymbol}}">{{this.HgncSymbol}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Go">
    </form>
    <a href="/labnotebooks"><button>Reset</button></a>
</div>
<div>
<h3>Lab Notebooks:</h3>
    <table id="labnotebooks-table">
        {{!-- Table header section --}}
        <thead>
            <tr>
                <th>Special Project Name</th>
                <th>Creation Date</th>
                <th>Transfection Complete</th>
                <th>Completion Date</th>
                <th>Storage Freezer</th>
                <th>Freezer Box Location</th>
            </tr>
        </thead>

        {{!-- Table body section --}}
        <tbody>
            {{#each fetch.notebooks}}
            <tr data-value="{{this.LabNotebookID}}">
                <td>{{this.SpecialProjectName}}</td>
                <td>{{this.CreationDate}}</td>
                <td>{{this.TransfectionComplete}}</td>
                <td>{{this.CompletionDate}}</td>
                <td>{{this.StorageFreezer}}</td>
                <td>{{this.FreezerBoxLoc}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div>
    <h3>Add New Lab Notebook</h3>
    <form id="add_new_labnotebook" method="POST" action="/add_new_labnotebook">
    <fieldset>
        <legend>All Lab Notebooks must have assigned Project Staff</legend>
        <label for="newProjectPI">Who will be the PI?</label>
        <select name="newProjectPI" id="newProjectPI">
            <option value="">--Please choose an option--</option>
            {{#each fetch.researchers}}
            <option value="{{this.ResearcherID}}">{{this.FullName}}</option>
            {{/each}}
        </select>
    </fieldset>
    <fieldset>
        <legend>Special Project Name:</legend>
    <div>
        <input type="text" id="specialProjectName" name="specialProjectName"
            minlength="2" maxlength="50" size="10" required> 
    </div>
    </fieldset>
    <fieldset>
        <legend>Project Completion Status:</legend>
        <label for="transfectionComplete">Is transfection complete?</label>
        <select name="transfectionComplete" id="transfectionComplete">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Storage Information</legend>
        <label for="storageFreezer">Storage Freezer:</label>
            <select name="storageFreezer" id="storageFreezer">
                <option value="">--Please choose an option--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        <label for="fBLocPre">Freezer Box Location:</label>
        <input type="text" id="fBLocPre" name="fBLocPre" size="3" placeholder="FB1">
        <label for="fBLocSuf">-</label>
        <input type="text" id="fBLocSuf" name="fBLocSuf" size="3" placeholder="A1">
    </fieldset>
        <div>
            <input type="submit" value="Add LabNotebook">
        </div>
    </form>
</div>
<div>
    <h3>Project Staff</h3>
    <table id="projectStaff-table">
        {{!-- Table header section --}}
        <thead>
            <tr>
                <th>Special Project Name</th>
                <th>Researcher</th>
                <th>Remove from project</th>
            </tr>
        </thead>

        {{!-- Table body section --}}
        <tbody>
            {{#each fetch.projectstaff}}
            <tr data-value="{{this.ProjectStaffID}}">
                <td>{{this.SpecialProjectName}}</td>
                <td>{{this.FullName}}</td>
                <td><button onclick='removeResearcher({{this.ProjectStaffID}})'>
                        <i class='fa-solid fa-trash'></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div>
    <form id="add_staff_to_project" method="POST" action="/add_staff_to_project">
    <fieldset>
        <legend>Add Staff to a Project</legend>
        <label for="staff_to_project">Select a project:</label>
        <select name="staff_to_project" id="staff_to_project">
            <option value="">--Please choose an option--</option>
            {{#each fetch.notebooks}}
            <option value="{{this.LabNotebookID}}">{{this.SpecialProjectName}}</option>
            {{/each}}
        </select>
        <label for="add_staff">Select a Researcher:</label>
        <select name="add_staff" id="add_staff">
            <option value="">--Please choose an option--</option>
            {{#each fetch.researchers}}
            <option value="{{this.ResearcherID}}">{{this.FullName}}</option>
            {{/each}}
        </select>
        <div>
            <input type="submit" value="Add Staff">
        </div>
    </fieldset>
</div>