<!-- researchers.hbs -->
<div>
    <h2>MyT Codon Researchers:</h2>
</div>
{{!-- Create a table --}}
<table id="researchers-table">

    {{!-- Table header section --}}
    <thead>
        <tr>
            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Active Credential</th>
            <th>Remove</th>
        </tr>
    </thead>

    {{!-- Table body section --}}
    <tbody>

        {{!-- For each row, print the ResearcherID, FirstName, LastName, and Credential, in order --}}
        {{#each data}}
        <tr data-value="{{this.ResearcherID}}">
            <td>{{this.ResearcherID}}</td>
            <td>{{this.FirstName}}</td>
            <td>{{this.LastName}}</td>
            <td>{{this.Credential}}</td>
            <td><button onclick='deleteResearcher({{this.ResearcherID}})'><i class='fa-solid fa-trash'></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_researcher.js"></script>
<h3>Add New Researcher</h3>
<form id="add_new_researcher" method="POST" action="/add_new_researcher">
    <fieldset>
        <section>
            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" name="FirstName" required
                minlength="2" maxlength="50" size="10">
        </section>
        <section>
            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName" required
                minlength="2" maxlength="50" size="10">
        </section>
    </fieldset>
    <fieldset>
        <div>
            <label for="Credential">Active credential?</label>
            <select name="Credential" id="Credential">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </fieldset>
    <div>  
        <input type="submit" value="Add Researcher">
    </div>
</form>

<h3>Update Credential</h3>
<form id="update_researcher_form">
    <fieldset>
        <legend>Name</legend>
        <label for="input-fullname">Full name: </label>
        <select name="input-fullname" id="selectResearcherUpdate">
            <option value="default">--Please choose an option--</option>
            {{#each data}}
            <option value="{{this.ResearcherID}}">{{this.FirstName}} {{this.LastName}}</option>
            {{/each}}
        </select>
    </fieldset>
    <fieldset>
        <legend>Active Credentials</legend>
            <div>
            <label for="Credential">Active credential?</label>
            <select name="Credential" id="updateCredential">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </fieldset>
    <div>
        <input type="submit" value="Update Researcher">
    </div>
</form>

<script src="./js/update_researcher.js"></script>