<!-- researchers.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the ReserahcedID, FirstName, LastName, and Credential, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.ResearcherID}}</td>
            <td>{{this.FirstName}}</td>
            <td>{{this.LastName}}</td>
            <td>{{this.Credential}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>