<!-- researchers.hbs -->
<div>
    <h2>MyT Codon Researchers:</h2>
</div>
{{!-- Create a table --}}
<table id="researchers-table">

    {{!-- Table header section --}}
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Active Credential</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
    </thead>

    {{!-- Table body section --}}
    <tbody>

        {{!-- For each row, print the ResearcherID, FirstName, LastName, and Credential, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.FirstName}}</td>
            <td>{{this.LastName}}</td>
            <td>{{this.Credential}}</td>
            <td><a href="#" id="update_researcher"><i class="fa-solid fa-pen-to-square" ></i></a></td>
            <td><a href="#" id="delete_researcher"><i class="fa-solid fa-trash" onClick="confirm(`This will remove the researcher.  Are you sure you wish to delete: {{this.FirstName}} {{this.LastName}}?`);"></i></a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<h3>Add New Researcher</h3>
<form id="add_new_researcher">
    <fieldset>
        <section>
            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" name="FirstName" required
                minlength="2" maxlength="50" size="10">
        </section>
        <section>
            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName" required
                minlength="2" maxlength="50" size="10">
        </section>
    </fieldset>
    <fieldset>
        <div>
            <label for="Credential">Active credential?</label>
            <select name="Credential" id="Credential">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </fieldset>
    <div>  
        <input type="submit" value="Add Researcher">
    </div>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_researcher.js"></script>